.c-homepage-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &__title {
    font-size: 5rem;
    letter-spacing: -2pt;
    color: rgb(48, 53, 59);
    margin-top: 25%;
    font-family: "Montserrat-extrabold";
  }

  &__subtitle {
    font-size: 2rem;
    color: rgb(118, 118, 118);
    letter-spacing: -0.22pt;
    font-weight: lighter;
    margin-top: -20px
  }

  &__logo {
    position: fixed;
    bottom: -230px;
    height: 610pt;
    left: -260px;
    width: 900px;
  }
}

/*
.c-homepage-container {
  text-align: center;
  margin-top: 100pt;
  width: 450pt;
  position: relative;
  right: 80pt;

  &__title {
    font-size: 30pt;
    letter-spacing: -0.5pt;
    margin-left: 85.5pt;
    margin-right: 85.5pt;
    margin-bottom: 15pt;
    font-family: "Montserrat-extrabold";
    color: rgb(48, 53, 59);
  }

  &__subtitle {
    margin-left: 20.5pt;
    font-size: 10pt;
    color: rgb(118, 118, 118);
    letter-spacing: -0.22pt;
    font-weight: lighter;
    padding-bottom: 15px;
  }

  &__logo {
    align-self: center;
    position: relative;
    right: 140px;
    bottom: 130px;
    width: 650pt;
    height: 600.2pt;
  }
}
*/
