/*
.b-frame {
  padding: 3.7rem;
  border-radius: .8rem;
  height: 31.9rem;
  width: 31.9rem;
  !*margin: 10rem 0 0 40rem;*!

  &-green {
    adding: 3.7rem;
    border-radius: .8rem;
    height: 31.9rem;
    width: 31.9rem;
*/

/*    &-check {
      position: absolute;
      top: -6.3rem;
      left: -6.3rem;
      border: 1.8rem solid rgb(125, 226, 175);
      background-color: rgb(125, 226, 175);
      border-radius: 50%;
      height: 10.6rem;
      width: 10.6rem;
      font-size: 6.5rem;
      font-weight: bold;
    }*/
 /* }*/
  /*&-yellow {
    border: 1.8rem solid rgb(255, 216, 156);
    position: relative;
    color: #FFFFFF;*/

    /*&-question {
      position: absolute;
      top: 9rem;
      left: -6.3rem;
      border: 1.8rem solid rgb(255, 216, 156);
      background-color: rgb(255, 216, 156);
      border-radius: 50%;
      height: 10.6rem;
      width: 10.6rem;
      font-size: 6.5rem;
      font-weight: bold;
    }
  }*/

  /*&-warmpink {
    adding: 3.7rem;
    border-radius: .8rem;
    height: 31.9rem;
    width: 31.9rem;*/

    /*&-times {
      position: absolute;
      top: 23.8rem;
      left: -6.3rem;
      border: 1.8rem solid rgb(255, 148, 173);
      background-color: rgb(255, 148, 173);
      border-radius: 50%;
      height: 10.6rem;
      width: 10.6rem;
      font-size: 6.5rem;
      font-weight: bold;
    }
 !* }
}
*!
.b-img-frame {
  border-radius: .8rem;
  max-height: 26.2rem;
  max-width: 100%;
}
*/
